<div ng-controller="productController">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <div ng-include src=" './Navigation.html' "></div>

    <!-- Page Content -->
    <div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{info.ShopName}}</p>
            <div class="list-group">
                <a ng-repeat="category in categories" href="#/app/shop?category={{category.CategoryName}}&shopOwner={{currentProduct.owner}}"
                   class="list-group-item" ng-class={'active':category.CategoryName==currentProduct.Category}>{{category.CategoryName}}</a>
            </div>


            <a type="button" class="btn btn-warning btn-block" ng-show="editFlag" href="#/app/editor?productID={{currentProduct.id}}">
                Edit this post
            </a>
            <button ng-show="!purchasedFlag"
                            type="button" class="btn btn-success btn-block" ng-click="purchase(currentProduct.id)">Purchase this product</button>
            <button ng-show="!wishFlag"
                    type="button" class="btn btn-info btn-block" ng-click="addToWishList(currentProduct.id)">Add to wishlist</button>

        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{currentProduct.price | currency}}</h4>
                    <h4>{{currentProduct.name}}
                    </h4>
                    <p>
                        {{currentProduct.longdescription}}
                    </p>

                </div>


                <!-- The rating part-->
                <!--<div class="ratings">-->
                    <!--<p class="pull-right">3 reviews</p>-->
                    <!--<p>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                        <!--4.0 stars-->
                    <!--</p>-->
                <!--</div>-->
            </div>

            <!--<div class="well">-->

                <!--<div class="text-right">-->
                    <!--<a class="btn btn-success">Leave a Review</a>-->
                <!--</div>-->

                <!--<hr>-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                        <!--Anonymous-->
                        <!--<span class="pull-right">10 days ago</span>-->
                        <!--<p>This product was great in terms of quality. I would definitely buy another!</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<hr>-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                        <!--Anonymous-->
                        <!--<span class="pull-right">12 days ago</span>-->
                        <!--<p>I've alredy ordered another one!</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<hr>-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                        <!--Anonymous-->
                        <!--<span class="pull-right">15 days ago</span>-->
                        <!--<p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        </div>

    </div>

</div>
    <!-- /.container -->

    <div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
    <!-- /.container -->


</div>